	<h1>Abriendo 3 ventanas/pestañas</h1>
	<input type="button" value="Nueva pestaña" onclick="nuevaPestana()" />
	<br />
	<input type="button" value="Nueva ventana" onclick="nuevaVentana()" />

	<script>
		function nuevaVentana() {
			for (var i = 0; i < 3; i++) {
				window.open('https://www.google.es', '', 'width=600,height=400,left=50,top=50,menubar=yes,toolbar=yes');
			}
		}

		function nuevaPestana() {
			for (i = 1; i <= 3; i++) {
				window.open('https://www.google.com');
			}
		}
	</script>