<head>
    <title>Plantilla básica</title>
    <meta charset='UTF-8' />
    <script type="text/javascript" src="funciones.js">
    </script>
</head>

<body>
    <script>
        var a = [];

        for (i = 0; i <= 10; i++) {
            var numale = (Math.floor(Math.random() * 10 + 1));
            a.push(numale);

        }

        var busc = parseInt(prompt('¿Qué valor desea buscar?'));

        if (a.includes(busc)) {
            var pos = parseInt(a.indexOf(busc));
            alert('Sí existe! Índice: ' + pos);
            alert(a);
        } else {
            alert('No existe!');
            alert(a);
        }
    </script>
</body>