<head>
    <title>Plantilla básica</title>
    <meta charset='UTF-8' />
    <script type="text/javascript" src="funciones.js">
    </script>
</head>

<body>
    <script>
        var c = 0;
        var impares = [];
        for (i = 1; i <= 21; i += 2) {
            impares.push(i);
            c = c + i;
        }
        alert('Números impares del 1 al 21: ' + impares);
        alert('Sumatorio de los números impares: ' + c);
    </script>
</body>